<div class="layout">
    <mat-card class="cardMargin">
        <mat-card-header>
            <mat-card-title>Technology Stack</mat-card-title>
        </mat-card-header>
        <mat-card>
            <mat-card-content>
                <h3> Web App Framework </h3>
            </mat-card-content>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let task of webFramework; index as i"> {{i + 1}}. &nbsp;{{task}} </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>
                <h3> Programming </h3>
            </mat-card-content>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let task of programming; index as i"> {{i + 1}}. &nbsp;{{task}} </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>
                <h3> Tools </h3>
            </mat-card-content>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let task of technostack; index as i"> {{i + 1}}. &nbsp;{{task}} </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </mat-card>

    <mat-card class="cardMargin">
        <mat-card-header>
            <mat-card-title>Projects</mat-card-title>
        </mat-card-header>
        <mat-card>
            <mat-card-content>
                <h3> Virtual Brainstorming Platform </h3>
            </mat-card-content>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        This project developed to allow teachers and students to share their idea virtual in real-time.
                    </mat-list-item>
                    <mat-list-item>
                        Developed using nodejs and Angular 8
                    </mat-list-item>
                </mat-list>
                <mat-list>
                    <mat-list-item>
                        Concept : view image ~ <a (click)="open(1)" style="color: blue;">view</a>
                    </mat-list-item>
                    <mat-list-item>
                        Video : view video ~ <a (click)="open(2)" style="color: blue;">view</a>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>

    </mat-card>
</div>