<div class="layout">
    <mat-card class="cardMargin">
        <mat-card-header>
            <mat-card-title>Education</mat-card-title>
        </mat-card-header>
        <mat-card>
            <mat-card-content>

                <div class="row">
                    <div>Master</div>
                    <div>: Master of Science in Computer Networking</div>
                </div>
                <div class="row">
                    <div>Degree</div>
                    <div>: Bachelor of Computer Science(hons) Data Communication & Networking</div>
                </div>
                <div class="row">
                    <div>Diploma</div>
                    <div>: Computer Science</div>
                </div>
                <br>
                <div class="row">
                    <div>Verification : click&nbsp;<a (click)="onNavigate()">here</a></div>
                </div>
                <div class="row">
                    <div><i>**fullname : mohd iskandar bin samsuddin</i></div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-card>
    <mat-card class="cardMargin">
        <mat-card-header>
            <mat-card-title>Professional Certificates</mat-card-title>
        </mat-card-header>
        <mat-card>
            <mat-card-content>
                <div class="row">
                    <div>Big Data Engineering</div>
                </div>
                <div class="row">
                    <div>Cisco Certified Network Associate (CCNA)</div>
                </div>
                <div class="row">
                    <div>Microsoft SQL Server 2008</div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-card>
</div>
