<div class="layout">
    <mat-card class="cardMargin">
        <mat-card-header>
            <mat-card-title>Education</mat-card-title>
        </mat-card-header>
        <mat-card>
            <mat-card-content>
                This is me
            </mat-card-content>
        </mat-card>
    </mat-card>
    <mat-card class="cardMargin">
        <mat-card-header>
            <mat-card-title>Certificates</mat-card-title>
        </mat-card-header>
        <mat-card>
            <mat-card-content>
                This is me
            </mat-card-content>
        </mat-card>
    </mat-card>
</div>