<div class="layout">
    <mat-card class="cardMargin">
        <mat-card-header>
            <mat-card-title>Profile</mat-card-title>
        </mat-card-header>
        <mat-card>
            <mat-card-content>
                <div class="row">
                    <div style="flex: 50">
                        <div class="row">
                            <div class="profileKey">Name</div>
                            <div class="profileValue">: Mohd Iskandar Samsuddin</div>
                        </div>
                        <div class="row">
                            <div class="profileKey">Email</div>
                            <div class="profileValue">: iskandarsamsuddin@gmail.com</div>
                        </div>
                        <div class="row">
                            <div class="profileKey">Nationality</div>
                            <div class="profileValue">: Malaysia</div>
                        </div>
                    </div>
                    <div style="flex: 50">
                        <div class="row">
                            <div class="profileKey">Gender</div>
                            <div class="profileValue">: Male</div>
                        </div>
                        <div class="row">
                            <div class="profileKey">Age</div>
                            <div class="profileValue">: -</div>
                        </div>
                    </div>
                </div>

            </mat-card-content>
        </mat-card>
    </mat-card>

    <!-- <mat-card class="cardMargin">
        <mat-card-header>
            <mat-card-title>Personal</mat-card-title>
        </mat-card-header>
        <mat-card>
            <mat-card-content>
                Hi, thank for visiting my page. Hosting using github
            </mat-card-content>
        </mat-card>
    </mat-card> -->

    <mat-card class="cardMargin">
        <mat-card-header>
            <mat-card-title>Media Social</mat-card-title>
        </mat-card-header>
        <mat-card>
            <mat-card-content style="display: flex;">
                <span class="fill-remaining-space"></span>
                <span *ngFor="let item of mediasocial">
                    <a (click)="goToLink(item.url)" class="ponter"><img [src]="item.img" border="1"></a>
                    &nbsp;&nbsp;
                </span>
                <span class="fill-remaining-space"></span>
            </mat-card-content>
        </mat-card>
    </mat-card>
</div>