.layout {
    padding: 10px;
}

.cardMargin {
    margin: 4px;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.ponter {
    cursor: pointer;
}

.profileKey {
    flex: 30;
    font-weight: bold;
}

.profileValue {
    flex: 120
}