<div class="layout">

    <mat-card class="cardMargin">
        <mat-card-header>
            <mat-card-title>Profession</mat-card-title>
        </mat-card-header>
        <mat-card>
            <mat-card-content>
                Currently working as <b>Fullstack Software Developer</b> since 2017; developing both the front and back end of web application and also developing integrate software with machines (IoT). I'm handle the entire stack, including databases,
                servers, systems engineering, and clients.
            </mat-card-content>
        </mat-card>
    </mat-card>

    <mat-card class="cardMargin">
        <mat-card-header>
            <mat-card-title>Working Experience</mat-card-title>
        </mat-card-header>
        <mat-card>
            <mat-card-content>
                <h3> Qubit Interactive Sdn Bhd (2017 - Present) </h3>
            </mat-card-content>
            <mat-card-content>
                Fast moving software development company, specialized in IPTV and Smart TV solution for hospitality market. The company has been established by media solution experts from Korea and Malaysia. Qubit Interactive takes up the biggest market share for hospitality
                smart TV solution service in Malaysia and the key players in South East Asia.

                <div>Website : &nbsp;<a (click)="openWebsite()" style="color: blue;">www.qubit.asia</a></div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <h3> Software Developer Tasks </h3>
            </mat-card-content>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let task of taskList; index as i"> {{i + 1}}. &nbsp;{{task}} </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <h3> Project Involves </h3>
            </mat-card-content>
            <mat-card-content>
                here
            </mat-card-content>
        </mat-card>
    </mat-card>
</div>