.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-container .example-toolbar {
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
    height: 360px;
    max-height: 360px;
}

h1.example-app-name {
    margin-left: 8px;
}

.example-sidenav-container {
    flex: 1;
}

.example-sidenav-container .sideNav {
    width: 10%;
    text-align: center;
}

.footer {
    height: 30px;
    background: #7b1fa2;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.sidenavSize {
    padding-left: 5px;
    text-transform: capitalize;
    font-weight: bold;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
 Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}